<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Raijin Exhaust System</title>
</head>
<body>
    <main>
        <h1>Raijin Exhaust System</h1>
        <div>
            <h2>2013 Lamborgini Exhaust</h2>
            <p>Welcome to our full range of exhaust systems for sports cars.<br> We offer complete or 
                partial products that significantly improve performance.<br> Welcome to our full range of exhaust systems for sports cars. 
                We offer complete or partial products that significantly improve performance.</p>
            <img src="../public/images/1.png" alt="Aventator">
        </div>
            
        
    </main>

    <script src="js/main.js"></script>
</body>
</html>